<div class="container py-5">
  <h1 class="fw-bold text-center">Bienvenido a Banking, {{ userFullName }}</h1>
</div>

<div class="container">
  <h2>Últimas Transacciones</h2>

  <!-- Caja de texto estilo Google -->
  <!--<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar transacciones...">
    <button class="btn btn-outline-primary" type="button">Buscar</button>
  </div>-->

  <!-- Rango de fechas -->
  <div class="date-range">
    <mat-form-field appearance="fill" class="datepicker">
      <mat-label>Fecha de inicio</mat-label>
      <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="datepicker">
      <mat-label>Fecha de fin</mat-label>
      <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="applyDateFilter()">Filtrar</button>
    <button mat-raised-button color="accent" (click)="showAllTransactions()">Todos</button>
  </div>

  @if (filteredTransactions.length > 0) {
    <div class="card-container">      
      @for (transaction of filteredTransactions; track $index) {
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Transacción {{ transaction.id }}</mat-card-title>
            <mat-card-subtitle>De: {{ transaction.fromAccount }} - Para: {{ transaction.toAccount }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Imagen de ejemplo">
          <mat-card-content>
            <p class="transaction-info">
              Monto: {{ transaction.amount | currency:'USD':'symbol':'1.2-2' }} <br>
              Fecha: {{ transaction.date | date:'yyyy-MM-dd' }}
            </p>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <button mat-button class="primary-button" (click)="viewTransactionDetails(transaction.id)">Ver Detalles</button>
          </mat-card-actions>
        </mat-card>
      }      
    </div>
  }@else {
    <p>No hay transacciones disponibles.</p>
  }
    
  
  
</div>
