.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.lead p {
  font-size: 1.25rem;
}

.lead ul {
  list-style: none;
  padding: 0;
}

.lead ul li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.lead ul li i {
  margin-right: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-md-6,
  .col-md-4 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .col-md-6.offset-md-1 {
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 10px;
  }
}
